body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:
  radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.35) 100%
  ),
  radial-gradient(
    circle at 50% 40%,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.1) 30%,
    transparent 60%
  ),
  radial-gradient(
    circle at center,
    #4988C4 0%,
    #1C4D8D 55%,
    #0F2854 100%
  );
}

h1{
    color: rebeccapurple;
    text-align: center;
    font-family: "Anton", sans-serif;
    color: white;
    font-size: 100px;
}

.dice-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.dice{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.dice p{
    font-size: 5rem;
    color: white;
}

.red{
    background: linear-gradient(to bottom right, darkred 0%, #FF4646 100%);
    box-shadow:
    inset 2px 2px 6px rgba(255, 255, 255, 0.35),   /* top-left light */
    inset -2px -2px 6px rgba(0, 0, 0, 0.25),      /* bottom-right depth */
    0 8px 20px rgba(0, 0, 0, 0.35);               /* outer shadow */

}

.blue{
    background: linear-gradient(to bottom right, #fcff9e 0%, #c67700 100%);
    box-shadow:
    inset 2px 2px 6px rgba(255, 255, 255, 0.35),   /* top-left light */
    inset -2px -2px 6px rgba(0, 0, 0, 0.25),      /* bottom-right depth */
    0 8px 20px rgba(0, 0, 0, 0.35);               /* outer shadow */
}
#btn{
    font-size: xx-large;
    text-align: center;
}