body{
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
    display: grid;
    justify-content: center;
    align-items: center;
}
.calculator{
    margin: 10px;
    padding: 10px;
}
.screen{
    background-color: gray;
    width: 400px;
    height: 70px;
    border: 2px solid gray;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: right;
}

.keys{
    background-color: black;
    width: 400px;
    height: 420px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    place-items: center;
    border: 2px solid black;
    border-radius: 0 0 10% 10%;
}

/*grid positioning*/
.k1{grid-area: 1/1;}
.k2{grid-area: 1/2;}
.k3{grid-area: 1/3;}
.k4{grid-area: 1/4;}
.k5{grid-area: 2/1;}
.k6{grid-area: 2/2;}
.k7{grid-area: 2/3;}
.k8{grid-area: 2/4;}
.k9{grid-area: 3/1;}
.k10{grid-area: 3/2;}
.k11{grid-area: 3/3;}
.k12{grid-area: 3/4;}
.k13{grid-area: 4/1;}
.k14{grid-area: 4/2;}
.k15{grid-area: 4/3;}
.k16{grid-area: 4/4;}
.k17{grid-area: 5/1;}
.k18{grid-area: 5/2;}
.k19{grid-area: 5/3;}
.k20{grid-area: 5/4;}

.key{
    color: white;
}