body{
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
}

h1{
  text-align: center;
  font-size: 100px;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.piano {
  display: flex;
  width: 700px;
  height: 250px;
  border: 2px solid black;
  margin-top: 100px;
}

.keygroup {
  position: relative;
  flex: 1;
}

.white {
  width: 100%;
  height: 100%;
  background: white;
  border: 1px solid black;
}

.black {
  position: absolute;
  width: 60%;
  height: 60%;
  background: black;
  right: -30%;
  top: 0;
  z-index: 5;
  border-radius: 0 0 4px 4px;
  color: white;
}

.white:active {
  background: #e0e0e0;
}

.black:active {
  background: #333;
}

