body{
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: 
    url("https://www.transparenttextures.com/patterns/asfalt-light.png"),
    
    /* Layer 2: Radial lighting */
    radial-gradient(circle at 50% 35%, rgba(255,255,255,0.08), transparent 60%),
    radial-gradient(circle at 50% 75%, rgba(255,255,255,0.05), transparent 65%),
    
    /* Layer 1: Base */
    linear-gradient(180deg, #0f0f14, #14141b, #0b0b0f);

  background-repeat: repeat, no-repeat, no-repeat, no-repeat;
  background-size: auto, 100% 100%, 100% 100%, 100% 100%;
}

.header {
  width: 100%;
  height: 60px;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(20, 20, 25, 0.6);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255,255,255,0.05);
  
}

#left-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-weight: 600;
}

#right-header {
  font-size: 25px;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1{
  text-align: center;
  font-size: 100px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.piano {
  position: relative;
  width: 700px;
  height: 220px;
  margin: auto;
  background: linear-gradient(180deg, #2a2a2f, #141418);
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
  display: flex;
}

.keygroup {
  position: relative;
  flex: 1;
}

.white {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #fdfdfd, #dcdcdc);
  border: 1px solid #aaa;
  border-radius: 0 0 8px 8px;
  font-size: 14px;
  color: #333;
  padding-bottom: 10px;
  box-shadow: inset 0 -4px 6px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.black {
  position: absolute;
  width: 60%;
  height: 60%;
  right: -30%;
  top: 0;
  z-index: 5;
  background: linear-gradient(180deg, #111, #333);
  border-radius: 0 0 6px 6px;
  color: #eee;
  font-size: 11px;
  padding-bottom: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.white.pressed{
  background: linear-gradient(180deg, #e0e0e0, #c5c5c5);
}

.black.pressed{
  background: linear-gradient(180deg, #000, #222);
}

footer{
  width: 100%;
  height: 50px;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(20, 20, 25, 0.6);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255,255,255,0.05);
  margin-top: auto;
}
