body{
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: 
    url("https://www.transparenttextures.com/patterns/asfalt-light.png"),
    
    /* Layer 2: Radial lighting */
    radial-gradient(circle at 50% 35%, rgba(255,255,255,0.08), transparent 60%),
    radial-gradient(circle at 50% 75%, rgba(255,255,255,0.05), transparent 65%),
    
    /* Layer 1: Base */
    linear-gradient(180deg, #0f0f14, #14141b, #0b0b0f);

  background-repeat: repeat, no-repeat, no-repeat, no-repeat;
  background-size: auto, 100% 100%, 100% 100%, 100% 100%;
}

.header {
  width: 100%;
  height: 60px;
  padding: 0 40px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(20, 20, 25, 0.6);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

#left-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-weight: 600;
}

#right-header {
  font-size: 25px;
}

h1{
  text-align: center;
  font-size: 100px;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.piano {
  display: flex;
  width: 700px;
  height: 250px;
  border: 2px solid black;
  margin-top: 10px;
}

.keygroup {
  position: relative;
  flex: 1;
}

.white {
  width: 100%;
  height: 100%;
  background: white;
  border: 1px solid black;
}

.black {
  position: absolute;
  width: 60%;
  height: 60%;
  background: black;
  right: -30%;
  top: 0;
  z-index: 5;
  border-radius: 0 0 4px 4px;
  color: white;
}

.white.pressed{
  background: #e0e0e0;
}

.black.pressed{
  background: #333;
}

footer{
  width: 100%;
  height: 50px;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(20, 20, 25, 0.6);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255,255,255,0.05);
  margin-top: auto;
}
